.filters{
    color: #777;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-left{
    color: inherit;
    font-size: inherit;
}
.filter-btn{
    color: inherit;
    font-size: inherit;
}
.clear-completed-btn{
    color: inherit;
    font-size: inherit;
}
